*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;

}

main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: hsl(0, 0%, 98%);
   
}

a{
    text-decoration: none;
    color:hsl(0, 0%, 41%);
}

ul li{
    list-style: none;
}

nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
 
}

.logo{
    font-weight: bold;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color:black;
}

.wrapper{
display: flex;
flex-grow: 1;
visibility: visible;
justify-content: space-between;
transition: all 0.3s ease-in;
}




.links{
    flex-grow: 1;
    display: flex;
    color:black;
  
}

.links>li{
    cursor: pointer;
    display: inline-block;
    width: 115px;
    height: 50px;
    font-size: 15px;
}

.sub-menu{
    position: absolute;
    top:50px;  
    background-color: white;
    -webkit-box-shadow: -37px -34px 16px -23px rgba(153,153,153,0.17);
    -moz-box-shadow: -37px -34px 16px -23px rgba(153,153,153,0.17);
    box-shadow: -37px -34px 16px -23px rgba(153,153,153,0.17);
    padding:10px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.link-icon{
    margin-right: 10px;
}

.links>li>a,.show{
    height:100%;
    width: 100%;
    display: inline-block;

}

.links>li>a:hover{
    color:black;
    
}
.links>li:hover >a>img{
    transform: rotate(180deg);
}

.links>li:hover >.sub-menu{
    display: block;
    top:50px;
    opacity: 1;
    visibility: visible;
}

.sub-menu>li{
    height: 35px;
}

.btns{
    width: 200px;
}

.login,.register,.learn{
    color:hsl(0, 0%, 41%);
    background-color: transparent;
    width: 60px;
    height: 35px;
    border:none;
    cursor: pointer;
}

.login:hover,.register:hover{
    color: black;
}



.learn:hover{
    background-color: white;
    color:black;
}

.register{
    border:1px solid hsl(0, 0%, 41%);
    border-radius:8px;
    width: 90px;
}

.menu{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    line-height: 56px;
}

.menu-close{
    display: none;
    cursor: pointer;

}

.pc{
    display: inline-block !important;
}

.show,.check,.company-check{
    display: none !important;
}

/* landing */

.landing{
    display: flex;
    width: 80vw;
    height: 90%;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: center;
}

.one,.two{
    width: 50%;
    height: 100%;
}

.one{

    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.two{
    height: 100%;
}

.land-img-desktop{ 
    margin: 0 auto;
    padding: 20px;   
    width:80%; 
    height: 100%;
}

.land-img-mobile{
    display: none;
}

.label{
    margin-top:50px ;
    margin-bottom:40px ;
}

h2{
    font-size: 4.5rem;
    font-weight: bold;
}

p{
    color:hsl(0, 0%, 41%);
    font-size: 18px;
    width: 80%;
    line-height: 25px;
    margin-bottom:40px ;
}

.learn{
    width: 100px;
    min-height: 35px;
    background-color: black;
    color:white;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.client{
     margin-top: 50px;
     display: flex;
     gap: 30px;
}

.sub-menu li{
    position: relative !important;
}


@media(max-width:375px){
    .close{
        transform: translateX(100%);
        display: none;
     
        overflow: hidden;
        transition: all 0.3s ease-in;
    }


    .logo{
        padding-left: 20px;
        width: max-content;
    }

    .wrapper,.links{
        flex-direction: column;
    }

    .links{
        flex-grow: unset;
        width: 80%;
        margin: 0px auto;
        margin-bottom: 0;
    }
    .wrapper{
        position: absolute;
        justify-content: normal;
        right: 0;
        width:max-content;
        transform: translateX(0);
        overflow: hidden;
        height: 100vh;
        background-color: white;
        transition: transform 0.3s ease-in-out;
        -webkit-box-shadow: -200px -1px 0px 2px rgba(0,0,0,0.61);
        -moz-box-shadow: -200px -1px 0px 2px rgba(0,0,0,0.61);
        box-shadow: -200px -1px 0px 2px rgba(0,0,0,0.61);
    }
    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pc{
        display: none !important;
    }

    .sub-menu{
        
        position:static !important;
        max-height: 0vh;
        padding: 0px ;
        top:-20px;
        width: max-content;
        display: flex;
        flex-direction: column;
        opacity: 0;
        box-shadow: none !important;
        visibility: hidden;
        overflow: hidden !important;
    }

    .show{
        height: max-content;
        display: inline-block !important;
    }


    
    .check:checked ~ .sub-menu,.company-check:checked ~ .sub-menu{
        padding: 10px ;
        padding-top: 0;
        max-height: 100vh;
        display: block !important;
        opacity: 1;
        visibility: visible;
        
    }

    .check:checked ~ label>img,.company-check:checked ~ label>img{ 
        transform: rotate(180deg);
    }

    .register,.login{
        width: 80%;
    }

    .menu,.menu-close{
        display: block;
    }
    .menu-close>img{
        padding:10px;
        padding-right: 20px;
        float: right;  
    }

    .has-sub-menu{
        display: flex;
        flex-direction: column;
        height: max-content !important;
    }


    .landing{
        width: 100vw;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .two,.one{
        width: 100%;
        height: 40%;
    }
    .one{
        height: 60%;
        justify-content: start;
    }
    .label{
        margin-top:20px ;
        margin-bottom:20px ;
        display: flex;
        justify-content:center;
    }
    h2{
        font-size: 1.5rem; 
        text-align: center;
    }
    p{
        text-align: center;
        width: 100%;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .land-img-mobile{
       width: 100%;
       height: 100%;
       display: block;
    }
    .land-img-desktop{
        display: none;
    }
    .learn{
        margin:0 auto;
        display: block;
    }

    .client{
        margin: 30px auto;
        display: flex;
        padding: 10px;
        width: 100%;
        gap: 0px;
        justify-content: space-around;
   }
}